__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.env
.env.*
build/
dist/
*.deb
*.msi
*.wixobj
*.wixpdb
.pytest_cache/
.coverage
htmlcov/
.idea/
.vscode/
*.swp
*~
.DS_Store
id_*
*.pem
*.key
!*.desktop

